pip

keras
launchpadlib
tensorflow
numpy
scipy
matplotlib
pandas
sympy
nose
scikit-learn

virtualenv

ipython
jupyter
jupyterlab
voila
spyder

Flask
Django
flask-cors
eel
pyqt5

requests
urllib3

PyMySQL
types-PyMySQL
peewee

flake8
flake8-docstrings
pytest
pytest-cov
pytest-pythonpath
pylint
pycodestyle
pydocstyle
pylama
pylama-pylint
pyflakes
mypy
autopep8
yapf
mccabe
coverage
codecov

radon
pycryptodome
pycryptodomex

GitPython
dulwich

PyYAML
ruamel.yaml
demjson

python-language-server
pyserial
PyProbe
msgpack
hacking
typed-ast

pyverilog
graphviz
pygraphviz
jinja2
veriloggen
ipgen
pycoram
mulpy
onnx
nngen

mkdocs
mkdocs-bootstrap
mkdocs-webcontext-plugin
mkdocs-mdpo-plugin
mkdocs-markdownextradata-plugin
mkdocs-gitlab-plugin
mkdocs-rss-plugin
mkdocs-i18n
mkdocs-material
mdx_truly_sane_lists
mkdocs-redirects
mkdocs-mermaid-plugin
mkdocs-mermaid2-plugin

python-gnupg
youtube_dl
astroid
certifi
chardet
colorama
idna
isort
lazy-object-proxy
oauthlib
PySocks
requests-oauthlib
six
toml
tweepy
wrapt
google-cloud-storage
ruamel.std.zipfile
futures
futures3
feedparser

fastimport
wheel
twine
setuptools

TA-Lib
